body{
    background-color:red;
    text-align: center;
}

.container{
    display:inline-block;
    justify-content:center;
    margin-top: 135px;
    
}

figure, figcaption{
    display: inline;
    margin-left: 30px;
    margin-right: 30px;
}

