body{
    background-color:aquamarine;
    text-align: center;
}

.container{
    display: flex;
    justify-content:center;
    margin-top: 100px;
    
}

.img-1{
    margin-right: 5px;
}

.img-2{
    margin-left: 5px;
}


img{
    width: 80%;
    height: 80%;
}


