/* css*/
body{ 
    background-color: white;
    background-image: URL(img/natacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
/* seccion de estilo css3 para la cabecera pagina web*/

header{
    background-color: lightsteelblue;
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*dirección horizontal o en fila*/
    justify-content: center;/*alinea horizontalmente*/
    align-items: center;/*alínea verticalmente*/
}
header img{
    padding: 15px;
}
/* seccion de estilo css3 para la barra de menu pagina web*/
nav{
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
nav ul{
    padding: 0 0;
    margin: 0 1px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}
/* seccion de estilos css3 para seccion principal pagina web*/
section{
    width: 40%;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px auto;
    background: linear-gradient(black,blue);
}
form{
    background: silver;
    width: 70%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: inset 0 0 10px purple;
}
fieldset{
    border-style: none;
}
label{
    font-size: 18px;
}
textarea{
    resize: both;
    max-height: 100px;
}
input:focus , textarea:focus{
    border-color: rgb(20,0,255);
    cursor: pointer;
    box-shadow:inset 0 0 8px rgba(0, 29,255,0.6);
    outline:0 none;
}
form button{
    width: 40%;
    margin: 15px 0px 20px 25px;
    height: 40px;
    background: radial-gradient(teal,black);
    border: 2px solid black;
    color: white;
    border-radius: 15px 15px;

}
form button:hover{
    background: lightblue;
    text-decoration: underline;
    color: black;
    cursor:pointer;
}
form input{
    height: 20px;
    box-sizing: border-box;
    color: black;
    outline: none;
    border: 1px solid black;
}
/*seccion de estilos css3 para el pie de página web*/
footer{
    font-size:16px;
    text-align: center;
    color:darkblue;
    text-transform: Mayusc;
}

