/*seccion INICIAL*/
*{
    box-sizing:border-box;
    margin: 0; /*Inicializa margenes*/
    padding: 0; /*Inicializa padding*/
}
html{
    max-height: 100%; /* se adapta altura pag web en cualquier despositivo*/
}
body{
    font-family: Tahoma;
    font-size: 18px;
}
/*seccion cabecera PC*/
#header{
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row; /*dirección horizontañ o en fila*/
    justify-content: center; /*alinea horizontalmente*/
    align-items: center; /*alinea verticalmente*/
    grid-area: header; /*asigna nombre al contenedor*/
}

/* seccion menu*/
ul{
    padding: 0 0;
    margin: 0 1px;
}
li{
    display: inline;
    list-style: none; /*quitar las viñetas*/
    margin: 0 5px;
    font: bold 12px verdana;
}
a{
    color: white;
    text-decoration: none; /*quitar las lineas subrayadas*/
}
#menu{
    grid-area: nav; /*asigna nombre a contenedor*/
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
/*nuevo estilo para buscador*/
.buscarbox input{
    height: 25px;
    width: 0px;
    padding:0px 0px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: 0.8s ease;
}
/*Se aplica una pseudoclase hover para expandir ancho de buscador */
.buscarbox input :hover{
    width: 150px;
    padding-left: 10px;
    outline: none; /*quitar bordes*/
}

/* seccion contenido*/
#main{
    
}